.base-info {
float: left;
margin-right: 20px;
margin-top: 5px;
border: 1px solid #cccccc;
-moz-border-radius: 4px;
-webkit-border-radius: 4px;
border-radius: 4px;
-webkit-box-shadow: 1px 1px 1px rgba(0,0,0,0.1);
-moz-box-shadow: 1px 1px 1px rgba(0,0,0,0.1);
box-shadow: 1px 1px 1px rgba(0,0,0,0.1);
}
.query-info{
	margin-top: 5px;
	margin-right: 20px;
-moz-border-radius: 4px;
-webkit-border-radius: 4px;
border-radius: 4px;
-webkit-box-shadow: 1px 1px 1px rgba(0,0,0,0.1);
-moz-box-shadow: 1px 1px 1px rgba(0,0,0,0.1);
box-shadow: 1px 1px 1px rgba(0,0,0,0.1);
}
.title{
	margin: 5px 0 0 0;
}
.info-item {
zoom: 1;
border-bottom: 1px solid #EEE;
bottom: -1px;
position: relative;
height: 50px;
}
.end {
border-bottom: 1px solid rgb(255, 255, 255);
}
.list-item-head {
float: left;
width: 100%;
margin: 5px 0 0 10px;
font-family: "Helvetica Neue", Helvetica, Arial,"Microsoft Yahei","SimHei",Sans-serif;
color: rgb(182, 181, 181);
}
#query-item-th{
	vertical-align: middle;
	font-family: "Helvetica Neue", Helvetica, Arial,"Microsoft Yahei","SimHei",Sans-serif;
	font-weight: normal;
	color: rgb(182, 181, 181);
	text-align: center;
}
#query-item-td{
	vertical-align: middle;
	text-align: center;
}
.list-item-tail {
margin: 0 0 0 10px;
}
#taskInfoDiv,#taskIndexDiv,#taskDetailDiv{
	min-height:400px;
}
.queryImg{
	max-width:40px;
	max-height:40px;
}



/*copy*/
#header{
	position:relative;
	width:100%;
	height:50px;
	top:-15px;
	background-color: gray;
}
body{
	background: url(../img/bgnoise_lg.png);
}
.body-div{
	background: white;
	border: 1px solid #C9E0ED;
	-webkit-box-shadow: 1px 1px 1px #AAA;
}
h2{
	position:relative;
	float:left;
	margin-left: 50px;
	margin-top: 10px;
}
.linkUL{
	list-style-type:none;
	margin-left:30%;
}
.linkLI{
    margin-top:15px;
	float:left;
	margin-left: 50px;
}

#username{
	float: left;
	color: #777;
	margin: 10px 0 0 220px;
}
#username a,.doA{
	color: #777;
	text-decoration: none;
}
label{
	color: #777777;
}
#userInfoDiv{
margin-top: 10px;
padding-bottom: 20px;
background: url(../img/project-head-border.png) repeat-x 0 100%;
}
#dataDiv,#choiceDiv,#taskDiv{
	min-height: 400px;
}
#matchedTasks{
	margin-left: 10px;
}
.div-border{
	border-right: 1px solid #dddddd;
	min-height: 400px;
}
#bodyDiv{
	width:100%;
	margin-top: 10px;
}
#imageShowDiv{
	margin: 20px 0 0 0;
}
#imgShow{
	position:relative;
	max-width:100%;
	max-height: 100px; 
}
#siftDiv{
	display: none;
}
.mid-div{
	margin-bottom: 20px;
}
input[type="radio"], input[type="checkbox"]{
	margin: 0 0 0 0;
}
.btn-reset,.btn-submit {
	font-family: Helvetica, Arial;
	font-weight: normal;
	line-height: normal;
	background: #ffffff;
	border: 1px solid #cccccc;
	-moz-border-radius: 4px;
	-webkit-border-radius: 4px;
	border-radius: 4px;
	-webkit-box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.1);
	-moz-box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.1);
	box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.1);
	font-size: 14px;
	text-decoration: none;
}

.btn-submit {
	background-color: #a6bbb6;
	color: #fff;
}
#cancelEdit{
	display:none;
}
#tableDiv{
	position:relative;
	margin-right:20px;
	height:320px;
}
#goButton{
	margin-top: 10px;
}